{% if (inventory_hostname in groups['masters']) %}
write-kubeconfig-mode: "0644"
node-name:
  - {{ groups['masters'][0] }}
flannel-backend: none
{% endif %}
{% if (inventory_hostname in groups['workers']) %}
token: {{ hostvars[groups['masters'][0]]['server_token'].content }}
server: https://{{ groups['masters'][0] }}:9345
{% endif %}